body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.container {
    height: 300px;
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(29, 30, 31);
    border-radius: 10px;
}

button {
    background-color: red;
    border: 0px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bolder;
    height: 80px;
    width: 100px;
}

p {
    color: white;
    font-weight: bolder;
    font-size: 18px;
}